
body{
    font-family: 'Girassol';
    background-image: url(../src/assets/musicbackground.jpg);
	background-repeat: no-repeat;
	background-size:cover;
    background-position:center;
    background-attachment:fixed;
}

.round {
    width: 100px;
    height: 100px;
}

.txt {
    font-size: 20px;
    color:white;
    font-family: 'Girassol';
}
.txt2{
    font-size: 20px;
}

.txtmoney{
    font-size: 20px;
    color:black;
    font-family: 'Girassol';
}