<div class="container-fluid">
  <div class="row navB">

    <div class="col-md-4">
      <span><img src="../assets/jazz.png" class="rounded-circle round" /> </span>
      <span class="worldname"> {{world?.name}} </span>
    </div>

    <div class="col-md-3 text-center txtmoney" style="padding-top: 28px;">
      <div class="money rounded">
        <span>MONEY : $</span><span [innerHTML]="world?.money | bigvalue"></span>
      </div>
    </div>

    <div class="col-md-3" style="padding-top: 28px;">
      <div class="txt row">
        <div class="col-md-4">
          <span class="row" style="height:40px;vertical-align:middle;line-height: 40px;">Your ID : </span>
        </div>
        <div class="col-md-8" style="padding-left: 0px;">
          <span><input type="text" class="row input rounded" [(ngModel)]="username"
              (change)="onUsernameChanged()"></span>
        </div>
      </div>
    </div>

    <div class="col-md-2" style="padding-top: 28px;">
      <button *ngIf="qtmulti!=100000" class="btn btn-warning commutateur" (click)="commutateur()">
        <span>Buy </span>
        <span>x{{qtmulti}}</span>
      </button>
      <button *ngIf="qtmulti==100000" class="btn btn-warning commutateur" (click)="commutateur()">
        <span>Buy Max</span>
      </button>
    </div>

  </div>








  <div style="margin-top: 30px;" class="row">
    <div style="line-height: 100em;" class="col-md-2">
      <button class="button btn btnCltr btn-light btn-block" data-toggle="modal"
        (click)="unlockModal.show()">Unlocks</button>
      <button class="button btn btnCltr btn-light btn-block" data-toggle="modal" (click)="upgradModal.show()"><span
          *ngIf="dispoUpgrad" class="badge text-warning">New</span>Cash
        Upgrades</button>
      <button class="button btn btnCltr btn-light btn-block" data-toggle="modal" (click)="angelModal.show()"><span
          *ngIf="dispoAngel" class="badge text-warning">New</span>Angel
        Upgrades</button>
      <button class="button btn btn-light btn-block" data-toggle="modal" (click)="managersModal.show()"><span
          *ngIf="dispoManager" class="badge text-warning">New</span>Managers</button>
      <button class="button btn btnCltr btn-light btn-block" (click)="investorsModal.show()">Investors</button>
    </div>

    <div class="col-md-10">
      <div class="row">

        <app-product [money]="world?.money" [qtmulti]="qtmulti" (notifyProduction)="onProductionDone($event)"
          (notifyPurchase)="onNotifyPurchase($event)" (notifyAchat)="onNotifyAchat($event)"
          [prod]="world.products.product[0]" class="product col-md-5 shadow p-3 mb-5 ml-5 bg-warning rounded">
        </app-product>
        <app-product [money]="world?.money" [qtmulti]="qtmulti" (notifyProduction)="onProductionDone($event)"
          (notifyPurchase)="onNotifyPurchase($event)" (notifyAchat)="onNotifyAchat($event)"
          [prod]="world.products.product[1]" class="product col-md-5 shadow p-3 mb-5 ml-5 bg-warning rounded">
        </app-product>

      </div>

      <div class="row">

        <app-product [money]="world?.money" [qtmulti]="qtmulti" (notifyProduction)="onProductionDone($event)"
          (notifyPurchase)="onNotifyPurchase($event)" (notifyAchat)="onNotifyAchat($event)"
          [prod]="world.products.product[2]" class="product col-md-5 shadow p-3 mb-5 ml-5 bg-warning rounded">
        </app-product>
        <app-product [money]="world?.money" [qtmulti]="qtmulti" (notifyProduction)="onProductionDone($event)"
          (notifyPurchase)="onNotifyPurchase($event)" (notifyAchat)="onNotifyAchat($event)"
          [prod]="world.products.product[3]" class="product col-md-5 shadow p-3 mb-5 ml-5 bg-warning rounded">
        </app-product>

      </div>

      <div class="row">

        <app-product [money]="world?.money" [qtmulti]="qtmulti" (notifyProduction)="onProductionDone($event)"
          (notifyPurchase)="onNotifyPurchase($event)" (notifyAchat)="onNotifyAchat($event)"
          [prod]="world.products.product[4]" class="product col-md-5 shadow p-3 mb-5 ml-5 bg-warning rounded">
        </app-product>
        <app-product [money]="world?.money" [qtmulti]="qtmulti" (notifyProduction)="onProductionDone($event)"
          (notifyPurchase)="onNotifyPurchase($event)" (notifyAchat)="onNotifyAchat($event)"
          [prod]="world.products.product[5]" class="product col-md-5 shadow p-3 mb-5 ml-5 bg-warning rounded">
        </app-product>

      </div>
    </div>

    <app-modal #managersModal>
      <div class="app-modal-header">
        <h4 class="modal-title">Managers</h4>
      </div>

      <div class="app-modal-body">
        <div *ngFor="let manager of world?.managers?.pallier">
          <div *ngIf="!manager.unlocked" class="row rounded notif">
            <div class="col-md-4">
              <span>
                <img [attr.src]="server+manager.logo" class="rounded-circle round img" />
              </span>
            </div>
            <div class="col-md-5">
              <span class="txt2 row text-center font-weight-bold">{{manager.name}}</span>
              <span class="row text-center"></span>
              <span class="row text-center">{{manager.seuil}}</span>
            </div>
            <div class="col-md-3">
              <button style="height: 100px; width: 100px;" class="btn btn-warning" (click)="achatManager(manager)"
                [disabled]="world?.money < manager.seuil ">Hire!</button>
            </div>
          </div>
        </div>
      </div>
      <div class="app-modal-footer">
        <button type="button" class="btn btn-danger" (click)="managersModal.hide()">Close</button>
      </div>
    </app-modal>


    <app-modal #unlockModal>
      <div class="app-modal-header">
        <h4 class="modal-title">Unlocks</h4>
      </div>

      <div class="app-modal-body">
        <div *ngFor="let unlock of world.allunlocks.pallier">
          <div *ngIf="!unlock.unlocked" class="row rounded notif">
            <div class="col-md-4">
              <span>
                <img [attr.src]="server+unlock.logo" class="rounded-circle round img" />
              </span>
            </div>
            <div class="col-md-8">
              <span class="txt2 row text-center font-weight-bold">{{unlock.name}}</span>
              <span class="row text-center">{{unlock.typeratio}} x{{unlock.ratio}}</span>
              <span class="row text-center">Unlocked at : {{unlock.seuil}}</span>
            </div>
          </div>
        </div>
        <div *ngFor="let product of world.products.product">
          <div *ngFor="let unlock of product.palliers.pallier">
            <div *ngIf="!unlock.unlocked" class="row rounded notif">
              <div class="col-md-4">
                <span>
                  <img [attr.src]="server+unlock.logo"  class="rounded-circle round img" />
                </span>
              </div>
              <div class="col-md-8">
                <span class="txt2 row text-center font-weight-bold">{{unlock.name}}</span>
                <span class="row text-center">{{unlock.typeratio}} x{{unlock.ratio}}</span>
                <span class="row text-center">Unlocked at : {{unlock.seuil}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>



      <div class="app-modal-footer">
        <button type="button" class="btn btn-danger" (click)="unlockModal.hide()">Close</button>
      </div>
    </app-modal>

    <app-modal #upgradModal>
      <div class="app-modal-header">
        <h4 class="modal-title">Cash Upgrades</h4>
      </div>
      <div class="app-modal-body">
        <div *ngFor="let upgrade of world.upgrades.pallier">
          <div *ngIf="!upgrade.unlocked" class="row rounded notif">
            <div class="col-md-4">
              <span><img [attr.src]="server+upgrade.logo" class="rounded-circle round" /> </span>
            </div>
            <div class="col-md-5">
              <span class="txt2 row text-center font-weight-bold">{{upgrade.name}}</span>
              <span class="row text-center">{{upgrade.typeratio}}</span>
              <span class="row text-center">{{upgrade.seuil}}</span>
            </div>
            <div class="col-md-3">
              <button style="height: 100px; width: 100px;" class="btn btn-warning" (click)="achatUpgrade(upgrade)"
                [disabled]="world.money < upgrade.seuil">Buy</button>
            </div>
          </div>
        </div>
      </div>
      <div class="app-modal-footer">
        <button type="button" class="btn btn-danger" (click)="upgradModal.hide()">Close</button>
      </div>
    </app-modal>


    <app-modal #investorsModal>
      <div class="app-modal-header">
        <h4 class="modal-title">Investors</h4>
      </div>
      <div style="color: aliceblue;" class="app-modal-body">
        <div style="height: 80px; padding-top: 10px; background-color: rgb(34,34,34);" class="row border rounded text-center">
          <span class="col-md-12">Your Total angels</span>
          <span style="font-size: 30px;" class="col-md-12" [innerHTML]="world.activeangels | bigvalue"></span>
        </div>
        <div class="row">
          <div style="height: 200px; padding-top: 40px; padding-left: 30px;" class="col-md-6 border bg-warning rounded">
            <div class="row">
              <span style="font-size: 35px;" class="col-md-12 text-center">{{world.angelbonus}}%</span>
              <span style="margin-left: 20px;">Profit Bonus Per angel</span>
            </div>
          </div>
          <div style="height: 200px; padding-top: 4px; padding-left: 15px;" class="col-md-6 border bg-warning rounded">
            <div class="row">
              <span style="font-size: 35px;" class="col-md-12 text-center" [innerHTML]=" nvAnges| bigvalue">{{nvAnges}}</span>
              <span style="margin-left: 20px;">Angels Claimed with Restart</span>
              <button  class="col-md-9 btn btn-warning valid "
                (click)="claimAngel()">Claim</button>
              <span class="col-md-12 text-center">Restart Your businesses</span>
            </div>
          </div>
        </div>
      </div>


      <div class="app-modal-footer">
        <button type="button" class="btn btn-danger" (click)="investorsModal.hide()">Close</button>
      </div>
    </app-modal>

    <app-modal #angelModal>
      <div class="app-modal-header">
        <h4 class="modal-title">Angels</h4>
      </div>
      <div class="app-modal-body">
        <div *ngFor="let angel of world.angelupgrades.pallier">
          <div *ngIf="!angel.unlocked" class="row rounded notif">
            <div class="col-md-4">
              <span><img [attr.src]="server+angel.logo" class="rounded-circle round" /> </span>
            </div>
            <div class="col-md-5">
              <span class="txt2 row text-center font-weight-bold">{{angel.name}}</span>
              <span class="row text-center">{{angel.typeratio}}</span>
              <span class="row text-center">{{angel.seuil}}</span>
            </div>
            <div class="col-md-3">
              <button [disabled]="world.activeangels < angel.seuil" style="height: 100px; width: 100px;"
                (click)="achatUpgradeAngel(angel)" class="btn btn-warning">Buy</button>
            </div>
          </div>
        </div>
      </div>
      <div class="app-modal-footer">
        <button type="button" class="btn btn-danger" (click)="angelModal.hide()">Close</button>
      </div>
    </app-modal>
  </div>