<div class="container-fluid">
  <div class="row navB  bg-dark">
    <div class="col-md-4">
      <span><img src="../assets/dealer.jpg" class="rounded-circle round" /> </span>
      <span style="margin-left: 10px; color: aliceblue;" class="txt text-uppercase font-weight-bold text-monospace"
        id="worldname"> {{world.name}}
      </span>
    </div>
    <div class="col-md-4 text-center txt" style="padding-top: 25px;">
      <div class="money rounded">
        <span>$</span><span [innerHTML]="world.money | bigvalue"></span>
      </div>
    </div>
  </div>
  <div style="margin-top: 40px;" class="row">
    <div class="col-md-10">
      <div style="margin-right: 80px; margin-left: 20px;" class="row">
        <app-product
          [money]="world.money" (notifyProduction)="onProductionDone($event)" [prod]="world.products.product[0]"
          class="product col-md-5 shadow p-3 mb-5 bg-dark rounded"></app-product>
        <app-product
          [money]="world.money" (notifyProduction)="onProductionDone($event)" [prod]="world.products.product[1]"
          class="product col-md-5 offset-md-2 shadow p-3 mb-5 bg-dark rounded">
        </app-product>
      </div>
    </div>
  </div>
