.button{
    line-height:auto;
  }
  .product{
    color: aliceblue;
    margin-bottom: 1rem!important;
  }
  .notif{
   height: 120px;
   padding-top: 10px;
   box-shadow: 0 0 20px rgba(0,0,0,0.10), 0 10px 10px rgba(0,0,0,0.10) !important;
  }
  .notif:hover{
    background-color:rgba(0,0, 0, 0.2);
    
    border: none;
    box-shadow: 0 0 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22) !important;
  }
  .navB{
    padding-bottom: 15px;
    padding-top: 10px;
    box-shadow: 0 0 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22) !important;
    font-family: sans-serif;
    background-color: rgb(34,34,34);

  }
  
  .money{
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 5px;
    height: 40px;
    background-color: white;
    box-shadow: 0 0 20px rgba(0,0,0,0.10), 0 10px 10px rgba(0,0,0,0.10) !important;
    cursor: pointer;
  }

  .money:hover{
    box-shadow: 0 0 0 0 !important;
  }
  .foot {
    margin-top: 25px;
  }
  .cardUnlock{
    margin-right: 15px; 
    margin-left: 15px; 
    margin-top: 10px;
    border-radius: 20px;
    padding: 0;
    box-shadow: 0 0 20px rgba(0,0,0,0.10), 0 10px 10px rgba(0,0,0,0.10) !important;
  }

  .valid{
    background-color: rgb(43,43,43);
    color: rgb(255,193,5);
  }
  
  .footCard{
    border-radius: 0 0 20px 20px;
  }
  
  .cardHead{
    border-radius: 20px 20px 0 0;
  }
  .imgUnlock{
    height: 100%;
    width: 100%;
  }





  .worldname{
    font-family: 'Limelight';
    color:white;
    margin-left: 10px;
    font-size: 37px;
    text-transform: uppercase;
    vertical-align: middle;
  }

  .input{
    width: 160px;
    padding-left: 12px;
    height: 40px;
    vertical-align: middle;
    line-height: 40px;
    border-color: black;
    font-family: 'Girassol';
  }

  input:focus {
    outline-color:  rgb(128,102,23);
}

.commutateur{
    height: 40px;
    width: 155px;
    font-size: 20px;
    white-space: nowrap;
    font-family: 'Girassol';
}

.commutateur:focus{
    outline: none;
}

.btn-light{
    height: 13vh;
    font-family: 'Girassol';
    font-size: 20px;
}


